!!! 5
%html
	%head
		%title= "Add annnouncement?"
		= haml :_head
	%body{:id => "hisaishi-announce-add"}
		#home{"data-role" => "page"}
			%div{"data-role" => "header", "data-theme" => "e"}
				%h1= "Add announcement?"
			%div{"data-role" => "content", "data-theme" => "d"}
				%form{:action => "/announce-add-process", :method => "post", "data-ajax" => "false"}
					%div{"data-role" => "fieldcontain" }
						%label{:for => "text"}= "Text:"
						%input{:name => "text", :id => "text"}
					%div{"data-role" => "fieldcontain" }
						%label{:for => "show_now"}= "Display immediately?"
						%select{:name => "show_now", :id => "show_now", "data-role" => "slider"}
							%option{:value => "0"}= "No"
							%option{:value => "1"}= "Yes"
					%button{:type => "submit", "data-role" => "button", "data-theme" => "b"}= "Add announcement"
					%a{:href => "queue", "data-role" => "button", "data-rel" => "back"}= "Cancel"
