!!! 5
%html
	%head
		%title= "Karaoke Diagnostics"
		= haml :_head
		:javascript
			var csrf = "";
			var list = null;
	%body{:id => "hisaishi-announce-list"}
		#diagnostic-page{"data-role" => "page"}
			%div{"data-role" => "header"}
				%h1= "Diagnostics"
				= haml :_lock_button
			%div{"data-role" => "content"}
				%div{"data-role" => "fieldcontain"}
					%p
						%strong= "Host"
						%br
						= "#{scheme}://#{host}"
				%div{"data-role" => "fieldcontain"}
					%p
						%strong= "IP"
						%br
						= ip
				%div{"data-role" => "fieldcontain"}
					%p
						%strong= "Queue URL"
						%br
						= "#{scheme}://#{ip}:#{port}/queue"
				%div{"data-role" => "fieldcontain"}
					%p= "Hi."
				%div{"data-role" => "fieldcontain"}
					%p
						= "Toolbar icons by "
						%a{:href => "http://glyphish.com/"}= "Glyphish"
			= haml :menubar
