!!! 5
%html
	%head
		%title= "Delete song?"
		= haml :_head
	%body{:id => "hisaishi-queue-delete"}
		#home{"data-role" => "page"}
			%div{"data-role" => "header", "data-theme" => "e"}
				%h1= "Delete from queue?"
			%div{"data-role" => "content", "data-theme" => "d"}
				%form{:action => "/queue-delete-process", :method => "post", "data-ajax" => "false"}
					%input{:type => "hidden", :name => "q_id", :id => "q_id", :value => q.id}
					%p
						= "Would you like to delete "
						%em= song.title
						= " from the queue?"
					%button{:type => "submit", "data-role" => "button", "data-theme" => "b"}= "Delete"
					%a{:href => "/queue", "data-role" => "button", "data-rel" => "back"}= "Cancel and return to queue"
