- songs.each do |song|
  %li{:data_theme => "c"}
    %a{:href => "/add/#{song.id}", "data-transition" => "slide"}
      %h3= "#{song.title} (#{(song.karaoke == :true ? "Karaoke" : "Vocals")}, #{song.lyrics_exists ? "Lyrics" : "No Lyrics"})"
      %p{:class => "separated-descriptions"}
        -# HACK: Gotta view-helper this thing.
        - if song[:origin_title].present?
          - if song[:artist].present?
            %em= "#{song[:origin_title]} (#{song[:artist]})"
          - else
            %em= song[:origin_title]
        - else
          %em= song[:artist] if song[:artist].present?
